body {
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
}

h1,
h2 {
    margin: 0;
}

.mortgage_calculator_container {
    position: relative;
    float: left;
    width: 100%;
    height: 660px;
    padding: 15px 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
}

.mortgage_calculator_container__title {
    width: 100%;
    height: 30px;
    margin-bottom: 25px;
    margin-right: auto;
    padding-bottom: 15px;
    border-bottom: 1px solid #cacaca;
    color: #005175;
    line-height: 1.36;
    font-size: 22px;
    font-weight: normal;
    text-align: left;
}

.calculator {
    position: absolute;
    width: 470px;
    top: 87px;
}

.calculator_results {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 298px;
    height: 440px;
    margin: auto;
    padding: 35px 0 35px 66px;
    box-sizing: border-box;
    background-color: #eaf6fa;
    -webkit-transform: translate(calc(100% - 69px));
    -moz-transform: translate(calc(100% - 69px));
    -ms-transform: translate(calc(100% - 69px));
    -o-transform: translate(calc(100% - 69px));
    transform: translate(calc(100% - 69px));
}

.calculator_results__header {
    color: #3e3d3f;
    line-height: 1.36;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
}

.calculator_results__result_container {
    position: relative;
    width: 100%;
    height: 49px;
}

.calculator_results__result_container:nth-child(4):after {
    content: '';
    position: absolute;
    left: 0;
    top: 69px;
    width: 192px;
    height: 2px;
    border-radius: 2px;
    background-color: #cbcbcb;
}

.calculator_results__header--title {
    font-size: 22px;
    margin-bottom: 9px;
}

.calculator_results__header--subtitle {
    font-size: 14px;
    margin: 20px 0 0 0;
}

.calculator_results__header--total {
    margin-top: 40px;
    font-size: 18px;
    line-height: 1.67;
}

.calculator_results__divider {
    width: 192px;
    height: 2px;
    margin: 20px 0;
    border-radius: 2px;
    background-color: #cbcbcb;
}

.calculator_results__result {
    font-weight: bold;
    color: #3e3d3f;
    font-size: 18px;
    opacity: 0.2;
    line-height: 1.67;
    margin: 0;
}

.calculated .calculator_results__result {
    opacity: 1;
}

.calculator_results__result--total {
    font-size: 22px;
}

.calculator__card {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
    padding: 34px 40px 40px 40px;
    box-sizing: border-box;
    -webkit-transform: translate(-144px);
    -moz-transform: translate(-144px);
    -ms-transform: translate(-144px);
    -o-transform: translate(-144px);
    transform: translate(-144px);
}

.calculator_results,
.calculator__card {
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.calculator__title {
    position: relative;
    width: 100%;
    float: left;
    color: #3e3d3f;
    letter-spacing: 0.3px;
    line-height: 1.5;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cbcbcb;
    font-weight: normal;
}

.field {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.field:first-child {
    margin-top: 35px;
}

.field--group {
    flex-basis: 185px;
    margin: 0;
}

.fields_container {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fields_container .field {
    margin: 0;
}

.field__label {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.21;
    letter-spacing: 0.2px;
    color: #3e3d3f;
}

.field__range {
    position: relative;
    flex-grow: 1;
    margin: 0 5px;
    height: 8px;
    border-radius: 100px;
    background-color: #d8d8d8;
}

.field_range__track {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #1091cc;
    border-radius: 100px;
}

.field__range__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.field__value_text {
    float: left;
    width: 24px;
    height: 18px;
    opacity: 0.8;
    font-size: 16px;
    text-align: center;
    color: #3e3d3f;
}

.field__input {
    height: 45px;
    margin-top: 5px;
    border-radius: 4px;
    border: solid 1px #cacaca;
    background-color: #ffffff;
    color: #3e3d3f;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
}

.field__input:not(.calculator__button):focus {
    outline: none;
    border: solid 1px #3e3d3f;
    -webkit-box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
    -moz-box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
    box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
}

.field__input--small {
    width: 45px;
    margin-left: 14px;
}

.field__input--full_width {
    width: 100%;
    text-align: left;
}

.field__input--currency,
.field--currency::before {
    font-size: 16px;
    text-align: left;
}

.field--currency::before {
    content: '$';
    position: absolute;
    left: 25px;
    top: 35px;
    width: 22px;
    height: 22px;
}

.field__input--currency {
    padding-left: 40px;
    box-sizing: border-box;
}

.field--currency.error .field__input--currency{
    border: solid 1px #da3535;
}

.field--currency.error::after {
    position: absolute;
    left: 0; top: 67px;
    height: 15px;
    color: #da3535;
    text-align: left;
    font-size: 12px;
}

.error .field--group,
#field_loan_amount.error{
    margin-bottom: 28px;
}

#field_loan_amount.error:after{
    content: 'Loan Amount is mandatory';
}

#field_annual_tax.error:after{
    content: 'Anual Tax is mandatory';
}

#field_annual_insurance.error:after{
    content: 'Annual Insurance is mandatory';
}

.calculator__button {
    position: relative;
    width: 100%;
    margin-top: 20px;
    background-color: #0077c0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.calculator__button::before {
    content: 'CALCULATE'
}

.calculated .calculator__button::before {
    content: 'RECALCULATE'
}

.calculator__button:focus {
    outline: none;
}

/** inputs styles **/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove controls */
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Remove controls from Firefox */
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type='range']::-moz-focus-outer {
    border: 0;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
    cursor: pointer;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: none;
    border: 0;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: none;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: none;
    border: none;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: none;
    border: 0;
    border-radius: 0;
}

input[type=range]:focus::-ms-fill-lower {
    background: none;
}

input[type=range]::-ms-fill-upper {
    background: none;
    border: 0;
    border-radius: 0;
}

input[type=range]:focus::-ms-fill-upper {
    background: none;
}

@media all and (max-width: 780px) {

    .mortgage_calculator_container {
        padding: 15px 0;
    }

    .mortgage_calculator_container.calculated {
        height: 944px;
        -webkit-transition: height 0.5s;
        -moz-transition: height 0.5s;
        -ms-transition: height 0.5s;
        -o-transition: height 0.5s;
        transition: height 0.5s;
    }

    .mortgage_calculator_container__title {
        width: 100%;
        margin-left: 30px;
        padding-bottom: 15px;
    }

    .calculator__card,
    .calculator_results {
        transform: none;
    }

    .calculator_results {
        top: 0;
        bottom: auto;
        width: 100%;
        height: 311px;
        margin: 0 auto;
        padding: 40px 20px 29px 20px;
    }

    .calculated .calculator_results {
        -webkit-transform: translateY(524px);
        -moz-transform: translateY(524px);
        -ms-transform: translateY(524px);
        -o-transform: translateY(524px);
        transform: translateY(524px);
    }

    .calculator_results__result_container {
        height: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 34px;
    }

    .calculator_results__result_container:first-child {
        margin-top: 28px;
    }

    .calculator_results__result_container:last-child {
        margin-top: 37px;
    }

    .calculator_results__result_container:after,
    .calculator_results__result_container:nth-child(4):after {
        content: '';
        position: absolute;
        left: 0;
        top: 29px;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: #b2b2b2;;
    }

    .calculator_results__result_container:last-child:after {
        display: none;
    }

    .calculator_results__header--total {
        font-size: 14px;
        margin: 0;
    }

    .calculator_results__header--subtitle {
        margin: 0;
    }

    .calculator_results__result {
        font-weight: lighter;
        font-size: 18px;
    }
}

@media all and (max-width: 500px) {
    .mortgage_calculator_container__title {
        font-size: 20px;
        padding-bottom: 10px;
        color: #006ea0;
        font-weight: 100;
        letter-spacing: 0.5px;
    }

    .calculated .calculator_results {
        -webkit-transform: translateY(434px);
        -moz-transform: translateY(434px);
        -ms-transform: translateY(434px);
        -o-transform: translateY(434px);
        transform: translateY(434px);
    }

    .calculator {
        width: 100%;
        top: 75px;
    }

    .calculator__card,
    .calculator_results {
        width: calc(100% - 20px);

    }

    .calculator__card {
        padding: 15px 20px 20px 20px;
        margin: 0 10px;
    }

    .calculator__title,
    .field__label {
        font-size: 12px;
    }

    .field__value_text,
    .field__input,
    .calculator__button {
        font-size: 14px;
    }

    .calculator_results__header--title {
        font-size: 20px;
    }

    .calculator_results__header--subtitle {
        font-size: 12px;
        font-family: 'SFUIDisplay', sans-serif;
        font-weight: normal;
    }

    .calculator_results__result {
        font-family: 'SFUIDisplay', sans-serif;
        font-weight: normal;
    }

    .calculator_results__result,
    .calculator_results__header--total {
        font-size: 12px;
    }

    .calculator_results__result--total {
        font-size: 14px;
    }

    .field__input {
        height: 40px;
    }

    .field__input--small {
        width: 50px;
    }

    .field:first-child {
        margin-top: 15px;
    }

    .field {
        margin-bottom: 20px;
    }

    .field:nth-child(2) {
        margin-bottom: 22px;
    }

    .field--group {
        flex-basis: auto;
        flex-grow: 1;
    }

    .fields_container .field {
        margin: 0;
    }

    .field--currency:first-child {
        margin-right: 5px;
    }

    .field--currency:last-child {
        margin-left: 5px;
    }

    .field__input--currency, .field--currency::before {
        font-size: 14px;
        left: 15px;
        top: 32px;
    }

    .field__input--currency {
        padding-left: 24px;
    }

    .field--currency.error::after {
        top: 60px;
        height: 12px;
        font-size: 10px;
        font-weight: bold;
    }

    .error .field--group {
        margin-bottom: 10px;
    }

    #field_loan_amount.error{
        margin-bottom: 28px;
    }

    #field_loan_amount.error:after,
    #field_annual_tax.error:after,
    #field_annual_insurance.error:after{
        content: 'Mandatory field';
    }

}